@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "edgs-display";
    src: url("/fonts/edgedisplay-bold-webfont.woff2") format("woff2"),
      url("/fonts/edgedisplay-bold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "edge-display";
    src: url("/fonts/edgedisplay-regular-webfont.woff2") format("woff2"),
      url("/fonts/edgedisplay-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}
