---
import "../styles/base.css";
---

<!doctype html>
<html lang="en" class="bg-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="The first truly composable headless CMS built for the modular web. LuxeCMS will be the last CMS you'll ever need, for every project. Oh, and  it's open-source?"
    />
    <meta
      name="keywords"
      content="LuxeCMS, headless CMS, modular web, composable, CMS, content management system, luxe, luxe cms"
    />
    <meta name="author" content="LuxeCMS Contributors" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style is:inline>
      ::-moz-selection {
        color: #000;
        background: #eeeeee;
      }

      ::selection {
        color: #000;
        background: #eeeeee;
      }

      ::-webkit-selection {
        color: #000;
        background: #eeeeee;
      }
    </style>
    <title>
      LuxeCMS - The first truly composable headless CMS built for the modular
      web. Did I mention, it's open-source?
    </title>
  </head>
  <body class="overflow-hidden">
    <slot />
    <script
      is:inline
      async
      src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
